
<head>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>

    <a href="#" class="scrollup">scroll to the top...</a>

	<div id="topbar">
		hi
	</div>

	<div id="sidebar">
	 	<img src="{{user.photo}}" id="myicon"/>
		<div class="myname">{{user.displayName}}</div>
		<div class="myat">@{{user.username}}</div>
		<div class="recent">your recent posts:
			<div class="myentry">
				<div class="mytxt">
					listened to this song, liked it, you should listen t o it too idk how long does this go for who knows meh meh meh
				</div>
				<span class="listen">listen:</span>
				<a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="mysong">steel reason - ffxiv ost</a>
			</div>

			<div class="myentry">
				<div class="mytxt">
					listened to this song, liked it, you should listen to it too idk how long does this go for who knows meh meh meh
				</div>
				<span class="listen">listen:</span>
				<a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="mysong">steel reason - ffxiv ost</a>
			</div>

			<div class="myentry">
				<div class="mytxt">
					listened to this song, liked it, you should listen to it too idk how long does this go for who knows meh meh meh
				</div>
				<span class="listen">listen:</span>
				<a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="mysong">steel reason - ffxiv ost</a>
			</div>
		</div>
	</div>


<!-- !!!!!!!!!!!!!!!!!!!! POST FORM HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->



	<div id="content">

		<form id="post" >
			<input type="text" id="user_input" class="txthere" placeholder="Type your message, attach music, and click post!"/><button type="submit" class="posthere">post!</button>

			<div class="addmusic">
				<div class="toggle">+</div><div class="toggletxt">click '+' to add a song!</div><input type="text" id="url" class="txtthere" placeholder="music URL"><input type="text" id="title" class="txtthere" placeholder="song title">
			</div>
		</form>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ENTRIES START HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

		<div id="tweets">
			<ul class="entry">
				<li>
					<img src="{{icon}}" class="icon"/>
					<div class="deletepost">+</div>
					<div class="text">
						<span class="name">pldlover69</span>
						<span class="at">@circleofscorn</span>
						<div class="description">listened to this song, liked it, you should listen to it too idk how long does this go for who knows meh meh meh</div>
						<b>listen:</b> <a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="music">Steel Reason - FFXIV OST</a>
					</div>

					<div class="interact">
					LIKE DISLIKE COMMENT
					</div>
				</li>
			</ul>
<!--
		{{#each newsfeed}}
			<div class="entry">
				<img src="{{icon}}" class="icon"/>
				<div class="deletepost">+</div>

				<div class="text">
					<span class="name">{{name}}</span>
					<span class="at">@{{at}}</span>
					<div class="description">listened to this song, liked it, you should listen to it too idk how long does this go for who knows meh meh meh</div>
					<b>listen:</b> <a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="music">Steel Reason - FFXIV OST</a>
				</div>

				<div class="interact">
					LIKE DISLIKE COMMENT
				</div>

			</div>
		{{/each}}
	</div>
-->
		</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! END ENTRIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		
	



<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
<script src="./js/index.js"></script>

</body>