
<head>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>

    <a href="#" class="scrollup">scroll to the top...</a>

	<div id="topbar">
		hi
	</div>

	<div id="sidebar">
	 	<div id="appenduser"></div>
		<div class="recent">your recent posts:
		{{#each sidedata}}
			<div class="myentry">
				<div class="mytxt">
					{{message}}
				</div>
				<div class="{{toShow}}"><b>listen:</b> <a href="{{url}}" class="music">{{titles}}</a></div>
			</div>
				
		{{/each}}
		</div>
		<!--
			<div class="myentry">
				<div class="mytxt">
					listened to this song, liked it, you should listen t o it too idk how long does this go for who knows meh meh meh
				</div>
				<span class="listen">listen:</span>
				<a href="https://www.youtube.com/watch?v=Vhr2mLhmdR4" class="mysong">steel reason - ffxiv ost</a>
			</div>
			-->
		
	</div>


<!-- !!!!!!!!!!!!!!!!!!!! POST FORM HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->



	<div id="content">

		<form id="post" >
			<input type="text" id="user_input" class="txthere" placeholder="Type your message, attach music, and click post!"/><button type="submit" class="posthere">post!</button>

			<div class="addmusic">
				<div class="toggle">+</div><div class="toggletxt">click '+' to add a song!</div><input type="text" id="url" class="txtthere" placeholder="music URL"><input type="text" id="title" class="txtthere" placeholder="song title">
			</div>
		</form>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ENTRIES START HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

		<div id="tweets">

		{{#each newsfeed2}}
			<div class="entry">
				<img src="{{photo}}" class="icon"/>

				<div class="text">
					<span class="name">{{displayName}}</span>
					<span class="at">@{{user}}</span>
					<div class="description">{{message}}</div>
					<div class="{{toShow}}"><b>listen:</b> <a href="{{url}}" class="music">{{titles}}</a></div>
				</div>
				<div class="clear"></div>
			</div>
		{{/each}}
		
		</div>

	</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! END ENTRIES !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
		
	



<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>
<script src="./js/index.js"></script>

</body>